/*flex container*/
main{
    display: flex;
}

/*flex intent*/
main > * + *{ /*per separare i box in main*/
    margin-top: 0;
    margin-left: 1.5em;
}
.tile{
    background-color: white;
    border-radius: .3em;
}
.tile :first-child{
    margin-top: 0;
}
.column-main{
    flex: 3;
}
.column-sidebar{
    flex: 1;
}
.column-sidebar{
    display: flex;
    flex-direction: column;
}
.column-sidebar > .tile{
    flex: 1;
}